*
.container {
    display: flex;
  }
  
  .left-container,
  .right-container {
    width: 45%; /* Adjust as needed */
  }
  
  .left-container {
    width : 150px;
    float: left;
    padding-left: 20%;
   
  }
  
  .right-container {
   
    float : right;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 0px;

  }
  .personal{
    padding: 10px;
    background-color: #12372A;
    width : 100%;
    height : 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    

  }
  .professional-info {
    padding: 20px;
    background-color: #ADBC9F;
    width : 100%;
    height :100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  h1, h2 {
    font-size: 50px;
    margin-bottom: 10px;
    margin-block-start: 10px;
    text-decoration: underline;
  }
  
  p {
    font-size: 16px;
    margin-bottom: 5px;
    
  }
  
  a {
    color: blue;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }